[onapp]
# OnApp HOST (Domain | IP address)
host = ip_address
# OnApp URL
cloud_url = http://ip_address
# Super Admin API key
api_key = here_is_yours_admin_api_key
# Super Admin email
email = your_mail@gmail.com
# ControlPanel ssh Port
cp_ssh_port = 2222
# HyperVisor ssh Port
hv_ssh_port = 22

[vhi]
# VHI Admin panel URL
cloud_url = https://vhi.domain.com:8888
# VHI Self-service panel URL
panel_url = https://vhi.domain.com:8800
# API path is the same, please copy to you config file
api_path = /api/v2
# Super Admin Login
login = admin
# Super Admin Password
admin_ui_pwd = ui_admin_password
# Node IP address
hv_ip = ip_address
# ControlPanel IP address
cp_ip = ip_address
# Default Network Name for migration, can be set up using {--network=private_network} flag
network = public2
# VHI ControlPanel SHH port
vhi_ssh_port = 2222
# VHI Node ssh port
vhi_ssh_port_hv = 22
# Default Linux image for migration https://vhicp.url/compute/servers/images
vhi_linux_image = debian-10-openstack-amd64.qcow2
# Default Windows image for migration https://vhicp.url/compute/servers/images
vhi_windows_image = windows2012
# Domain ID for migration https://vhicp.url/settings/domains
vhi_domain_id = 58fa18b2cefc4bad8a52f11008dfbf72
# Domain NAME for migration https://vhicp.url/settings/domains
vinfra_domain = Migration
# Project NAME for migration https://vhicp.url/settings/domains/1c9a39fcb14a4d80baa8101b5ff6410b/projects, can be Empty and auto-generated by Script
vinfra_project = migproj
# The rest credentials managed by script under the hood and will be saved here for Service User
vinfra_user =
vinfra_pass =
vinfra_domain_user =
vinfra_domain_pass =

[key]
# Path to ssh key at OnApp CP, e.g. /home/onapp/.ssh/id_rsa
ssh_key = path/to/your/ssh_key/id_rsa
